$shark-950: #262626;
$shark-900: #3D3D3D;
$shark-800: #454545;
$shark-700: #4F4F4F;
$shark-600: #5D5D5D;
$shark-500: #6D6D6D;
$shark-400: #888888;
$shark-300: #B0B0B0;
$shark-200: #D1D1D1;
$shark-100: #E7E7E7;
$shark-50: #F6F6F6;
$brand-950: var(--color-brand-950, #152656);
$brand-900: var(--color-brand-900, #1C3D8D);
$brand-800: var(--color-brand-800, #1844B3);
$brand-700: var(--color-brand-700, #1854DD);
$brand-600: var(--color-brand-600, #266DF1);
$brand-500: var(--color-brand-500, #3689FB);
$brand-400: var(--color-brand-400, #5BABFE);
$brand-300: var(--color-brand-300, #90C8FF);
$brand-200: var(--color-brand-200, #BCDEFF);
$brand-100: var(--color-brand-100, #DAEAFF);
$brand-50: var(--color-brand-50, #EFF7FF);
$info-light: #DBE9FF;

$info-dark: #69AEFF;
$info-light: #DBE9FF;
$success-dark: #36B37E;
$success-light: #D4F7E3;
$warning-dark: #FEA03A;
$warning-light: #FFE3B8;
$error-dark: #F3421B;
$error-light: #F9CDB8;
$help-dark: #9476EA;
$help-light: #DEDAFA;
