@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

.tsc-map-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;

  @media (max-width: 768px) {
    border-radius: 0;
  }
}

.tsc-map-pin-icon {
  transition: 150ms;
  height: 100%;
  width: 100%;
  z-index: 0;
  position: relative;
  transform-origin: bottom center;

  path {
    transition: 150ms;
    pointer-events: none;
  }

  &:hover {
    transform: scale(1.2);

    >path:first-child {
      fill: #363F49;
    }
  }
}

.overlay-view-marker {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 31px;
  width: 26px;
  z-index: 1;
  cursor: pointer;

  &:lang(he) {
    transform: translate(50%, -50%);
  }

  &:hover {
    z-index: 10;

    .tsc-map-label {
      display: block;
      z-index: 10;
    }
  }

  &.marker-hotel {
    width: 40px;
    height: 48px;
  }
}

.tsc-map-label {
  color: #212121;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  transform: translateX(25px) translateY(-10px);
  white-space: nowrap;
  z-index: 100;
  position: absolute;
  animation: fadeIn 150ms;
  text-shadow:
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;

  &:lang(he) {
    transform: translate(-25px, -10px);
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
  }
}

.tsc-map-tooltip {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #363F49;
  padding: 6px 7px;
  padding-inline-end: 10px;
  border-radius: 6px 6px 6px 0;
  color: white;
  font-family: 'Poppins', sans-serif;
  pointer-events: none;
  position: relative;
  z-index: 1;

  &:lang(he) {
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
  }

  &:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: -5px;
    border-width: 9px 9px 0 0;
    border-style: solid;
    border-color: #363F49 transparent transparent transparent;
  }

  &--left {
    transform: translate(-100%, calc(-100% - 6px));

    &:before {
      right: 0;
      transform: rotate(90deg);
    }
  }

  &--right {
    transform: translate(0, calc(-100% - 6px));

    &:before {
      left: 0;
    }
  }
}

.tsc-map-panel {
  padding: 20px;
  position: absolute;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;

  &:lang(he) {
    font-family: 'Rubik', sans-serif;
  }

  &__content {
    background-color: white;
    border-radius: 16px;
    width: 280px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__hotel {
    border-radius: 6px;
  }

  &__poi {
    border-radius: 10px;
  }

  &--top {
    left: 0;
    top: 0;

    &:lang(he) {
      left: unset;
      right: 0;
    }
  }

  &--bottom {
    bottom: 0;
    left: 0;

    &:lang(he) {
      left: unset;
      right: 0;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    left: 0;
    bottom: 0;
    top: unset;
  }
}

.tsc-hotel-panel {
  padding: 20px;

  &__rating {
    display: flex;
    gap: 2px;
    margin-bottom: 10px;
  }

  &__name {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 20px;
    color: #212121;

    &:lang(he) {
      font-family: 'Rubik', sans-serif;
      font-size: 18px;
    }
  }

  &__address {
    margin-top: 10px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 14px;
    color: #73777C;

    &:lang(he) {
      font-family: 'Rubik', sans-serif;
      font-weight: 400;
    }
  }

  &__description {
    margin-top: 30px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 18px;
    color: #212121;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;

    &:lang(he) {
      font-family: 'Rubik', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }

  &__buttons {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__button {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 10px;
    background: #EDEDED;
    text-decoration: underline;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 18px;
    text-align: start;
    color: #212121;
    border: 2px solid transparent;
    border-radius: 6px;
    cursor: pointer;

    &:lang(he) {
      font-family: 'Rubik', sans-serif;
      font-size: 14px;
    }

    &:hover {
      border: 2px solid #212121;
      color: #212121;
    }
  }

  &__toggle {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: 150ms;

    &--expanded {
      transform: rotate(180deg);
    }
  }
}

.tsc-poi-image {
  width: 100%;
}

.tsc-poi-content {
  padding: 14px;
  
  &__title {
    margin-bottom: 4px;
    color: #212121;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 18px;

    &:lang(he) {
      font-family: 'Rubik', sans-serif;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  &__text {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 14px;
    color: #73777C;

    &:lang(he) {
      font-family: 'Rubik', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
    }
  }

  &__distance {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 16px;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 12px;
    color: #212121;

    &:lang(he) {
      font-family: 'Rubik', sans-serif;
      font-size: 13px;
    }
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-enter{
  opacity: 0;
}
.fade-exit{
  opacity: 1;
}
.fade-enter-active{
  opacity: 1;
}
.fade-exit-active{
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active{
  transition: opacity 500ms;
}

